<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1><%= product.name %> </h1>
      <ul>
        <li> Price:$$$$ <%= product.price %> </li>
        <li> Category: <%= product.category %> </li>
      </ul>
      <a href="/products">All Products</a>
      <a href="/products/<%= product._id %>/edit">Edit Product</a>
      <form action="/products/<%= product._id %>?_method=DELETE" method="post">
    <button>Delete</button></form>
    </div>
  </section>
  </body>
</html>